@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div>
    <p>
        Demonstration of CRUD (Create, Read, Update, and Delete) operations in an ASP.NET Core (Model-View-Controller) 
        web application.  
    </p>
    <p>
        Microsoft's <a href="https://learn.microsoft.com/en-us/ef/core/" target="_blank">Entity Framework (EF) Core</a>
        has been used to access data stored in a SQL server database.
    </p>
</div>